# String de conexão com o banco de dados MongoDB (Local ou MongoDB Atlas)
MONGO_URI=mongodb+srv://volpinivini:rpBc89dFbrOXjYbu@cluster.kbplmen.mongodb.net/?appName=Cluster

# Chave secreta e aleatória usada pelo JWT para assinar e validar os tokens de autenticação
JWT_SECRET=sua_chave_secreta_e_longa_aqui

# Porta onde o servidor Express será executado (Ex: 3000, 5000)
PORT=3000