# String de conexão com o banco de dados MongoDB (Local ou MongoDB Atlas)
MONGO_URI=mongodb://volpinivini:rk59fJ9GdUEeyoFL@ac-imvm3f0-shard-00-00.kbplmen.mongodb.net:27017,ac-imvm3f0-shard-00-01.kbplmen.mongodb.net:27017,ac-imvm3f0-shard-00-02.kbplmen.mongodb.net:27017/?ssl=true&replicaSet=atlas-vhsz0n-shard-0&authSource=admin&appName=Cluster

# Chave secreta e aleatória usada pelo JWT para assinar e validar os tokens de autenticação
JWT_SECRET=sua_chave_secreta_e_longa_aqui

# Porta onde o servidor Express será executado (Ex: 3000, 5000)
PORT=3000